@using TaxiBookingApp
@using TaxiBookingApp.Models
@using TaxiBookingApp.Core.Models
@using TaxiBookingApp.Core.Models.TaxiRoutes
@using TaxiBookingApp.Core.Models.Statistics
@using TaxiBookingApp.Core.Extensions
@using TaxiBookingApp.Core.Models.Admin
@using TaxiBookingApp.Areas.Admin.Models

@model MyTaxiRoutesViewModel

@{
    ViewBag.Title = "My Taxi Routes";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h4>My Added Taxi Routes</h4>

@if (!Model.AddedTaxiRoutes.Any())
{
    <h2 class="text-center">You have no added routes yet!</h2>
}

<div class="row">
    @foreach (var taxiRoute in Model.AddedTaxiRoutes)
    {
        @await Html.PartialAsync("~/Views/Shared/_TaxiRoutePartial.cshtml", taxiRoute)
    }
</div>

<h4>My Booked Taxi Routes</h4>

@if (!Model.RentedTaxiRoutes.Any())
{
    <h2 class="text-center">You have no booked taxiRoute yet!</h2>
}

<div class="row">
    @foreach (var taxiRoute in Model.RentedTaxiRoutes)
    {
        @await Html.PartialAsync("~/Views/Shared/_TaxiRoutePartial.cshtml", taxiRoute)
    }
</div>
